{% extends "layout-frontend.html" %}
{% block class%} class="sticky"{% endblock %}
{% block navelements%}
    <li><a href="/signup"></i>SignUp</a></li>
{% endblock navelements%}


{% block content %}

    {% load static %}
    <section>
    

    	<h2>All Products</h2>
    	<div class="row">
    		{% for product in products %}
            <a href="/productdetails/{{product.SKU}}">
    		<div class="span-1-of-4 allproducts">
    			<img src="{% static '/media/' %}{{product.displayImgFirst}}">
    			
                <h3>{{product.title}}</h3>
                <h3><i class="ion-social-usd"></i>
                {{product.price}}
                </h3>
    		</div>
            </a>
    		{% endfor %}
    	</div>



    </section>

    <div class="pagination">

      {% if products.has_previous %}

        <a href="?page=1"><<<</a>....
        <a href="?page={{products.previous_page_number}}"><strong><</strong></a>
        
      {% endif %}


      {% for num in products.paginator.page_range %}

        {% if products.number == num %}

          <strong class="active-page">{{num}}</strong>

          {% elif num > products.number|add:'-3' and num < products.number|add:'3'  %}
          <a href="?page={{num}}"></a>
          {{num}}

        {% endif %}

        

      {% endfor %}
      {% if products.has_next %}

        <a href="?page={{products.next_page_number}}"><strong>></strong></a>.....
        <a href="?page={{products.paginator.num_pages}}">>>></a>
      {% endif %}
        </div>


{% endblock content %}