
{% extends "dashboard.html" %}


    {% block buttoncontent %}
    <a href="/addcust">Add Customer</a>
    {% endblock buttoncontent %}
  


{% block dashtable %}
<table class="table table-light table-product">
  <thead class="thead-dark thead-custom">
    <tr>
      <th scope="col" class="product-title">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Reviews</th>
    </tr>
  </thead>
  <tbody>
    {% for cust in custs %}
    
    <tr>
      {% load static %}
      <th scope="row"><a href ="/editcust/{{cust.id}}"> <img class="rounded product-thumbnail" src="{% static '/media/' %}{{cust.img}}" alt=""><span>{{cust.first_name}}</span></a></th>
      <td>{{cust.last_name}}</td>
      <td>{{cust.user}}</td>
      <td>{{cust.email}}</td>
      <td>{{cust.prodreview}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock dashtable %}

