{% extends "layout-frontend.html" %}
{% load static %}
{% block header%} class="header" {% endblock header%}
    {% block navelements%}
    
    {% block custdetails %}
    
    <li><a href="/addcust">SignUp</a></li>
    <li><a href="/custLogin"></i>Login</a></li>

    {% endblock custdetails %}

    {% endblock navelements%}

    {% block banner  %}

    <div class="hero-text-box">
        {% for banner in banner %}
        <h1>{{banner.herotitle}}<br>{{banner.herosubtitle}}</h1>
        <a class="btn btn-full js--scroll-to-plans" href="/allproducts">{{banner.herobtntitle}}</a>
        <a class="btn btn-ghost js--scroll-to-start" href="#reviews">{{banner.ghostbtntitle}}</a>
        {% endfor %}
    </div>

    {% endblock banner %}

{{banner.mainbanner }}
{% block mainbanner %}
        <section class="main-banner">
            <div class="row">
                {% for banner in banner %}
                <div class="col span-12-of-12">
                    <img src="{% static '/media/' %}{{banner.mainbanner }}">
                </div>
                {% endfor %}
            </div>
        </section>
        {% endblock mainbanner %}
{% block content %}
    <section class="section-products js--section-products">
            <div class="row">
                {% for banner in banner%}
                <h2>{{banner.featureprodtitle}}</h2>
                {% endfor %}
            </div>
            
            <div class="row js--wp-3">

                {% for trendyproduct in trendyproducts %}
                
                <a href="/productdetails/{{trendyproduct.SKU}}">
                    <div class="span-1-of-4 allproducts">
                        <img src="{% static '/media/' %}{{trendyproduct.displayImgFirst}}">
                        
                        <h3>{{trendyproduct.title}}</h3>
                        <h3><i class="ion-social-usd"></i>
                        {{trendyproduct.price}}
                        </h3>
                    </div>
                </a>
                {% endfor %}
               
            </div>
            
        </section>
        
        <section class="section-testimonials" id="reviews">
            <div class="row">
                {% for banner in banner %}
                <h2>{{banner.reviewsectiontitle}}</h2>
                {% endfor %}
            </div>
            <div class="row">
                {% for review in reviews %}
                <div class="col span-1-of-3">
                    <blockquote>
                        {{review.review}}
                        <cite><img src="{% static '/media/' %}{{review.img}}">{{review.name}}</cite>
                    </blockquote>
                </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}

{% block reviewbanner %}
        <section class="review-banner">
            <div class="row">
                {% for banner in banner %}
                <div class="col span-6-of-12">
                    <img src="{% static '/media/' %}{{banner.menbanner }}">
                </div>
                <div class="col span-6-of-12">
                    <img src="{% static '/media/' %}{{banner.womenbanner }}">
                </div>
                {% endfor %}
            </div>
        </section>
{% endblock reviewbanner %}