{% extends "layout-frontend.html" %}
{% block header%} class="header" {% endblock header%}
    {% block navelements%}
    <li><a href="#"><i class="ion-ios-search icon-small"></i></a></li>
    <li><a href="#"><i class="ion-ios-cart icon-small"></i></a></li>
    
    {% block custdetails %}
    
    <li><a href="/addcust">SignUp</a></li>
    <li><a href="/custLogin"></i>Login</a></li>

    {% endblock custdetails %}

    {% endblock navelements%}

    {% block banner  %}

    <div class="hero-text-box">
        <h1>Stay home and<br>Shop Online</h1>
        <a class="btn btn-full js--scroll-to-plans" href="/allproducts">All Products</a>
        <a class="btn btn-ghost js--scroll-to-start" href="#reviews">Reviews</a>
    </div>

    {% endblock banner %}

{% block content %}
    <section class="section-products js--section-products">
            <div class="row">
                <h2>Trending on Summer</h2>
            </div>
            
            <div class="row js--wp-3">

                {% for trendyproduct in trendyproducts %}
                {% load static %}
                <div class="span-1-of-4 allproducts">
                <img src="{% static '/media/' %}{{trendyproduct.displayImgFirst}}">
                
                <h3>{{trendyproduct.title}}</h3>
                <h3><i class="ion-social-usd"></i>
                {{trendyproduct.price}}
                </h3>
            </div>
                {% endfor %}
               
            </div>
            
        </section>
        
        <section class="section-testimonials" id="reviews">
            <div class="row">
                <h2>Our customers get all Apparel from us.</h2>
            </div>
            <div class="row">
                {% for review in reviews %}
                <div class="col span-1-of-3">
                    <blockquote>
                        {{review.review}}
                        <cite><img src="{% static '/media/' %}{{review.img}}">{{review.name}}</cite>
                    </blockquote>
                </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}